* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;



}

.top {
    grid-template-columns: auto auto;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}

div span {
    color: grey;
    text-align: center;
}

.img {
    display: grid;
    justify-content: center;
}


.con1 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px
}

@media (max-width: 768px) {
    .con
     {
        display: block !important; 
        
    }
    .con1
     {
        display: block !important;
        
    }
    .grid1{
        display: block !important;
       
    }
}
